.login_p {
  width: 100%;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .login {
    width: 50%;
    height: 500px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    .login_item {
      margin-left: 26%;
    }
    button {
      width: 100%;
    }
    p {
      font-family: Roboto;
      font-size: 25px;
      text-align: center;
      padding-bottom: 20px;
      padding-left: 80px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .login_p {
    .login {
      width: 90%;
    }
  }
}

@media screen and (max-width: 640px) {
  .login_p {
    .login {
      width: 90%;
      justify-content: center;
      .login_item {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .login_p {
    .login {
      width: 90%;
      justify-content: center;
      .login_item {
        margin-left: 0;
        padding: 0 !important;
        margin: 0 !important;
      }
      p {
        padding: 0;
      }
      button {
        margin-left: 0 !important;
        width: auto;
      }
    }
  }
}
